#graphics
  = image_tag "/images/scaffold.png", :id => "scaffold"
  = image_tag "/images/head.png", :id => "head"
  = image_tag "/images/torso.png", :id => "torso"
  = image_tag "/images/left-arm.png", :id => "left-arm"
  = image_tag "/images/right-arm.png", :id => "right-arm"
  = image_tag "/images/left-leg.png", :id => "left-leg"
  = image_tag "/images/right-leg.png", :id => "right-leg"
